@model IEnumerable<MvcSpring.OA.Model.Department>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | DepartmentInfo</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/skins/_all-skins.min.css">
    <!-- iCheck -->
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/plugins/blue.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/Content/plugins/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/Content/plugins/jquery-jvectormap-1.2.2.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Content/plugins/datepicker3.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Content/plugins/daterangepicker-bs3.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/Content/plugins/bootstrap3-wysihtml5.min.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="UserPersonPage.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>LT</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>全框架</b>工作台</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success"></span>
                            </a>
                            <ul class="dropdown-menu"></ul>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning"></span>
                            </a>
                            <ul class="dropdown-menu"></ul>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger"></span>
                            </a>

                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/Images/user2-160x160.jpg" class="user-image" alt="User Image">

                                <span class="hidden-xs">高守玺</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="/Images/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        高守玺 - Web Developer
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="/Images/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>高守玺</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="查询...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">导航栏</li>
                    <li> <a href="/UserInfo/GetAllUsers"><i class="fa fa-th"></i>用户列表</a></li>
                    <li> <a href="/RoleInfo/Index"><i class="fa fa-pie-chart"></i>角色列表</a></li>
                    <li> <a href="/ActionInfo/Index"><i class="fa fa-edit"></i>权限列表</a></li>
                    <li><a href="/Department/Index"><i class="fa fa-folder"></i>部门列表</a></li>
                    <li> <a href="/Button/Index"><i class=" fa fa-laptop"></i>按钮列表</a></li>
                    <li> <a href="/StateOperateLog/Index"><i class="fa fa-book"></i>日志管理</a></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    部门列表
                    <small>部门信息操作</small>

                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
                    <li class="active">数据展示</li>
                </ol>
                <hr />

                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button id="btntext" type="button" value="增加" class="btn btn-primary btn-group-sm" data-toggle="modal" data-target="#myModal">增加</button>&nbsp&nbsp<button onclick="Edit()" class="btn btn-warning btn-group-sm" data-toggle="modal" data-target="#myModal1">编辑</button>
                &nbsp&nbsp<button id="del" onclick="Delete()" class="btn btn-danger btn-group-sm">删除</button><input type="hidden" value="" id="hideId" />
                <input type="hidden" value="a" id="hidenum" />

                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">部门列表</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>

                                                <td>ID</td>
                                                <td>部门名称</td>
                                                <td>提交时间</td>
                                                <td>部门职能</td>

                                            </tr>

                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.Id</td>
                                                    <td>@item.DepartmentName</td>
                                                    <td>@item.SubTime</td>
                                                    <td>@item.Description</td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->

                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </section><!-- /.content -->
                <!--Modal-->
                <!-- 模态框（Modal） -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h3 class="modal-title" id="myModalLabel" style="font-weight:700">
                                    增添新部门
                                </h3>
                            </div>
                            <div class="modal-body">
                                <div id="add">
                                    @using (Ajax.BeginForm("Add", "Department", new AjaxOptions() { OnSuccess = "afterAdd" }))
                                    {

                                        <form>
                                            <table style=" border-collapse:separate;border-spacing:10px;">
                                                <tr><td><input type="text" id="departmentname" name="departmentname" required="required" placeholder="部门名称" class="form-control" /></td></tr>

                                                <tr><td><input type="text" id="description" name="description" placeholder="部门职能" class="form-control" /></td></tr>


                                            </table>
                                        </form>
                                    }

                                    <div class="modal-footer">

                                        <button type="button" class="btn btn-primary" onclick="subAddForm()">
                                            确定增加
                                        </button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            关闭
                                        </button>

                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h3 class="modal-title" id="myModalLabel" style="font-weight:700">
                                    编辑该部门
                                </h3>
                            </div>
                            <div class="modal-body">
                                <div id="edit">
                                    <table style=" border-collapse:separate;border-spacing:10px;">
                                        <tr><td><input type="text" id="departmentname1" name="departmentname1" required="required" placeholder="用户名" class="form-control" /></td></tr>

                                        <tr><td><input type="text" id="description1" name="description1" placeholder="部门职能" class="form-control" /></td></tr>
                                    </table>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" onclick="EditPost()">
                                            保存
                                        </button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            关闭
                                        </button>

                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                    </div>
                </div>


            </section>
            <!-- Main content -->
            <!-- /.content -->
        </div><!-- /.content-wrapper --><!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.0
            </div>
            <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
        </footer>
        <!-- Control Sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    <!-- jQuery 2.1.4 -->
    <script src="~/Scripts/jQuery-2.1.4.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Morris.js charts -->
    <script src="~/Scripts/raphael.js"></script>
    <script src="~/Scripts/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Scripts/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="~/Scripts/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Scripts/jquery-jvectormap-world-mill-en.js"></script>

    <!-- jQuery Knob Chart -->
    <script src="~/Scripts/jquery.knob.js"></script>
    <!-- daterangepicker -->

    <script src="~/Scripts/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Scripts/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <!-- AdminLTE App -->
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    @*<script src="~/Scripts/dashboard.js"></script>*@
    <!-- AdminLTE for demo purposes -->

    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap-paginator.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/fastclick.min.js"></script>
    <script src="~/Scripts/jqueryPage.js"></script>
    @*<script src="~/Scripts/app.min.js"></script>*@
    <script src="~/Scripts/demo.js"></script>
    <script>

        $(function () {
            var table = $("#example2").DataTable({
                "bPaginate": true, //翻页功能
                "bLengthChange": true, //改变每页显示数据数量
                "bFilter": true, //过滤功能
                "bSort": true, //排序功能
                "bInfo": true,//页脚信息
                "bAutoWidth": false,//自动宽度
                "sProcessing": true,
                "iDisplayLength": 10,// 每页显示行数
                "bWidth": true,
                "bScrollCollapse": true,
                "sPaginationType": "full_numbers", // 分页，一共两种样式 另一种为two_button // 是datatables默认
                "bProcessing": true,
                "oLanguage":
                                   {
                                       "sProcessing": "正在加载中......",
                                       "sLengthMenu": "每页显示 _MENU_ 条记录",
                                       "sZeroRecords": "对不起，查询不到相关数据！",
                                       "sEmptyTable": "表中无数据存在！",
                                       "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                                       "sInfoFiltered": "数据表中共为 _MAX_ 条记录",
                                       "sSearch": "搜索",
                                       "oPaginate": {
                                           "sFirst": "首页",
                                           "sPrevious": "上一页",
                                           "sNext": "下一页",
                                           "sLast": "末页"
                                       }
                                   }
            });
            $('#example2 tbody').on('click', 'tr', function () {
                //$(this).toggleClass('selected');
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
                if (table.rows('.selected').data().length > 0) {
                    var Id = table.row(this).data()[0];//以这种方式取到Id
                    $("#hideId").val(Id);
                }
            });
        });
        function Delete() {
            var id = $("#hideId").val();
            $.post("/Department/Delete", { ids: id }, function (data) {
                if (data == "ok") {
                    location.href = "/Department/Index";
                }
                else {
                    alert("删除失败");
                }
            })
        }
        function afterAdd(data) {
            if (data == "ok") {

                location.href = "/Department/Index";
            }
            else {
                alert("添加失败");
            }
        }
        function subAddForm() {
            $("#add form").submit();

        }
        function Edit() {
            var id = $("#hideId").val();
            $.post("/Department/Find", { id: id }, function (data) {
                if (data != null) {
                    $("#departmentname1").val(data[0].DepartmentName);
                    $("#description1").val(data[0].Description);
                }
                else {
                    alert("数据读取错误");
                }

            })
        }

        function EditPost() {
            $.post("/Department/EditPost", { id: $("#hideId").val(), departmentname: $("#departmentname1").val(), remark: $("#description1").val() }, function (data) {
                if (data == "ok") {
                    location.href = "/Department/Index";
                }
                else {

                    alert("保存失败");
                }

            })
        }
    </script>
</body>
</html>
